body
{
  background-image: url(the-other-images/interf/logoblanco.png), url(the-other-images/interf/backim.jpg);
  background-repeat: no-repeat,no-repeat;
  background-size: 280px 100px,100% 100%;
  background-position: 100% 12px;
}
input[type=text], input[type=password]
{
  width: 200px;
  padding: 4px 10px;
  margin: 2px 1px;
  border: 2px inset #85C1E9;
  #box-sizing: border-box;
  font-size: 15px;
}
button, input[type=submit]
{
  background-color: #D4EFDF;
  padding: 4px 10px;
  margin: 2px 1;
  border: outset #D4EFDF;
  cursor: pointer;
  width: 100px;
  font-size: 15px;
  font-weight: bold;
}
.cancelbtn
{
  width: 90px;
  padding: 4px 10px;
  background-color: #D98880;
  border: outset #F2D7D5;
  font-size: 15px;
  font-weight: bold;
}
.container
{
  position: fixed;
  top: 20%;
  left: 60%;
  text-shadow: 3px 3px 10px black;
}